/mods
/logs
/saves
/resourcepacks
/natives
config.bak.json
config.json
hotbar.nbt
options.txt
*.code-workspace
usercache.json
usernamecache.json
config_new_temp.json
config/jei/bookmarks.ini
/patchouli_data.json
/patchouli_books
/screenshots
/crash-reports
/XaeroWaypoints
/XaeroWorldMap
config/xaeropatreon.txt
*.pdn
kubejs/pack.mcmeta
kubejs/packname_archive.zip
/*xaero*/
config/xaerominimap.txt
